#customerDetails{
    padding: 2vh 2vw;
    > section:nth-of-type(1){
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        // opacity: 0.2;
        > a{
            margin: 0;
        }
        > section{
            display: flex;
            justify-content: center;
            align-items: center;
            > a, form, button{
                margin: 10px;
            }
        }
    }
    > section:nth-of-type(2){
        width: 90%;
        margin: auto;
        margin-bottom: 40px;
        // opacity: 0.2;
        > ul{
            width: 100%;
            > table{
                width: 100%;
                > thead{
                    background-color: $teal;
                    color: $white;
                    > tr{
                        > th{
                            text-align: left;
                            vertical-align: middle;
                            padding: 5px 5px;
                        }
                    }
                }
                > tbody{
                    &.inactif{
                        opacity: 0.2;
                    }
                    > tr{
                        > td{
                            text-align: left;
                            vertical-align: middle;
                            padding: 12px 5px;
                        }
                        &:not(:last-child) {
                            border-bottom: 1px solid $grey;

                        }
                    }
                }
            }
        }
    }
    > section:nth-of-type(3){
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: $black2, $alpha: 0.4);
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        > section{
            width: 50%;
            margin: auto;
            margin-top: 20vh;
            border: 1px solid $black;
            border-radius: 20px;
            padding: 20px;
            background-color: $white;
            display: none;
            > p{
                text-align: right;
                font-size: 2rem;
            }
            > h2{
                font-size: 1.6rem;
                font-weight: bold;
                margin: 20px;
                text-align: center;
                line-height: 1.5;
            }
            > section{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                > button, form{
                    margin: 10px;
                }
            }
        }
    }
    > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > div{
            margin: 20px
        }
    }
}