#gestionArticles{
    padding: 2vh 2vw;
    > section:nth-of-type(1){
        width: 60%;
        margin: auto;
        display: flex;
        margin-bottom: 40px;
    }
    > section:nth-of-type(2){
        width: 90%;
        margin: auto;
        margin-bottom: 10vh;

        >div{
            >section{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                >article{
                    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
                10px 10px 15px rgba(70,70,70,0.12);
                    
                    margin: 1em 0 1em 0;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:hover{
                        box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
                        inset 10px 10px 15px rgba(70, 70, 70, 0.12);
                    }    
                    >.flexlien{
                        display: flex;
                        justify-content: space-between;
                        >a{
                            width: 40%;
                        }
                    }
                }
            }
        }
    }

    
}