#header {
    background-color: $red;
    padding: 4vh;
    > nav{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        > a{
            margin: 0 40px 0 32px;
            color: $white;
            font-size: 1.4em;
        }
        > ul{
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            > li{
                margin: 0 8px;
                > a{
                    color: $white;
                    opacity: 0.6;
                    margin: 10px;
                    &:hover{
                        opacity: 1;
                    }
                    > i{
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}