#statistic{
    padding: 2vh 2vw;
    > form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        > label{
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
        > input{
            font-size: 1.2rem;
            border: none;
            background-color: white;
            box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);
            font-size: 1.2rem;
            border-radius: 10px;
            padding: 0 10px;

        }
        > select{
            font-size: 1.2rem;
            border: none;
            background-color: white;
            box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);
            font-size: 1.2rem;
            border-radius: 10px;
            padding: 0 10px;
        }
    }
    > table{
        width: 96%;
        margin: auto;
        margin-bottom: 40px;
        table-layout: fixed;
        width: 100%;
        > thead{
            background-color: $teal;
            color: $white;
            > tr{
                > th{
                    text-align: center;
                    vertical-align: middle;
                    padding: 5px 0;
                    &:first-of-type{
                        text-align: center;
                        vertical-align: middle;
                        padding: 5px 0;
                    }
                }
            }
        }
        > tbody{
            > tr{
                &:nth-child(even){
                    background-color: rgba($grey, 0.2);
                }
                &:hover{
                    background-color: $grey;
                }
                > td{
                    text-align: center;
                    vertical-align: middle;
                    padding: 5px 0;
                    &:first-of-type{
                        text-align: center;
                        vertical-align: middle;
                        padding: 12px 0;
                    }
                }
                &:not(:last-child) {
                    border-bottom: 1px solid $grey;
                }
                > th{
                    text-align: left;
                    vertical-align: middle;
                    padding: 12px 5px;
                    font-weight: bold;
                    border-top: 3px solid $grey;
                }
            }
        }
    }
}