h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 3vh 0;
    text-transform: uppercase;
}

h2{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
}