// Couleurs autorisées et imposées

$black  : #111314;
$black2 : #34495E;
$green  : #1ABC9C;
$yellow : #F1C40F;
$blue   : #3498DB;
$orange : #E67E22;
$red    : #E74C3C;
$grey   : #95A5A6;
$purple: #9B59b6;
$white  : #ECF0f1;
$navy   : #000080;
$teal   : #008080;
$aqua   : #00FFFF;
$pink   : #FFC0CB;
$aqua2  : #00ADC9;