/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#header {
  background-color: #E74C3C;
  padding: 4vh;
}
#header > nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header > nav > a {
  margin: 0 40px 0 32px;
  color: #ECF0f1;
  font-size: 1.4em;
}
#header > nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header > nav > ul > li {
  margin: 0 8px;
}
#header > nav > ul > li > a {
  color: #ECF0f1;
  opacity: 0.6;
  margin: 10px;
}
#header > nav > ul > li > a:hover {
  opacity: 1;
}
#header > nav > ul > li > a > i {
  margin: 0 10px;
}

#footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0px;
  background-color: #95A5A6;
  width: 100%;
  height: 8vh;
  text-align: center;
}
#footer > nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#footer > nav > a {
  color: #111314;
  opacity: 0.6;
}
#footer > nav > a:hover {
  opacity: 1;
}

#home {
  padding: 2vh 2vw;
}
#home > section:nth-of-type(2) {
  margin: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
#home > section:nth-of-type(2) > a {
  width: 20vw;
}

#categories {
  padding: 2vh 2vw;
}
#categories > section:nth-of-type(2) {
  width: 100%;
  display: grid;
  grid-template-columns: 75fr 25fr;
  margin-bottom: 10vh;
}
#categories > section:nth-of-type(2) > section:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
#categories > section:nth-of-type(2) > section:nth-of-type(1) > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  margin: 1rem;
  padding: 10px;
  width: 15vw;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#categories > section:nth-of-type(2) > section:nth-of-type(1) > article:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#categories > section:nth-of-type(2) > section:nth-of-type(1) > article > a {
  width: 90%;
}
#categories > section:nth-of-type(2) > section:nth-of-type(1) > article > a > img {
  width: 100%;
}
#categories > section:nth-of-type(2) > section:nth-of-type(1) > article > p {
  font-weight: bold;
}
#categories > section:nth-of-type(2) > div {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  padding: 10px;
  margin: 1rem;
}
#categories > section:nth-of-type(2) > div > div > p {
  font-weight: bold;
  margin: 10px 0;
}

#addArticles {
  padding: 2vh 2vw;
}
#addArticles > form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}
#addArticles > form > legend {
  font-size: 1.2rem;
  margin-bottom: 4vh;
  text-align: center;
  display: none;
}
#addArticles > form > div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
#addArticles > form > div > div:nth-of-type(2) {
  display: flex;
  flex-direction: columns;
  align-items: center;
}
#addArticles > form > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#addArticles > form > section > fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#addArticles > form > section > fieldset > label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
#addArticles > form > section > fieldset > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#addArticles > form > section > fieldset > select {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#addArticles > form > section > fieldset > small {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 10px;
}
#addArticles > form > section > fieldset:nth-of-type(3) > div {
  margin-top: 10px;
}
#addArticles > form > section > fieldset:nth-of-type(3) > div > label > span > img {
  max-height: 240px;
}
#addArticles > form > section > fieldset:nth-of-type(3) > div {
  margin-top: 10px;
}
#addArticles > form > section > fieldset:nth-of-type(3) > div > label > span > img {
  max-height: 240px;
}
#addArticles > form > fieldset {
  width: 40%;
  margin: auto;
}
#addArticles > form > fieldset > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: #1ABC9C;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
}

#customers {
  padding: 2vh 2vw;
}
#customers > section:nth-of-type(1) {
  width: 60%;
  margin: auto;
  display: flex;
  margin-bottom: 40px;
}
#customers > section:nth-of-type(2) {
  width: 90%;
  margin: auto;
  margin-bottom: 10vh;
}
#customers > section:nth-of-type(2) > ul {
  width: 100%;
}
#customers > section:nth-of-type(2) > ul > table {
  width: 100%;
}
#customers > section:nth-of-type(2) > ul > table > thead {
  background-color: #008080;
  color: #ECF0f1;
}
#customers > section:nth-of-type(2) > ul > table > thead > tr > th {
  text-align: left;
  vertical-align: middle;
  padding: 5px 5px;
}
#customers > section:nth-of-type(2) > ul > table > thead > tr > th:last-of-type {
  text-align: center;
}
#customers > section:nth-of-type(2) > ul > table > tbody > tr > td {
  text-align: left;
  vertical-align: middle;
  padding: 12px 5px;
}
#customers > section:nth-of-type(2) > ul > table > tbody > tr > td:last-of-type {
  text-align: center;
}
#customers > section:nth-of-type(2) > ul > table > tbody > tr > td.inactif {
  opacity: 0.1;
}
#customers > section:nth-of-type(2) > ul > table > tbody > tr:not(:last-child) {
  border-bottom: 1px solid #95A5A6;
}

.btn {
  margin: 10px auto;
  text-align: center;
  border: none;
  padding: 8px 16px;
  background-color: #ECF0f1;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #3498DB;
  color: #3498DB;
  border-radius: 0.575rem;
}
.btn:hover {
  background-color: #ECF0f1;
  opacity: 1;
  color: #E74C3C;
}
.btn.colorRed {
  color: #ECF0f1;
  background-color: #E74C3C;
  border: 1px solid #E74C3C;
}
.btn.colorRed:hover {
  background-color: #ECF0f1;
  color: #E74C3C;
}
.btn.colorGreen {
  color: #ECF0f1;
  background-color: #1ABC9C;
  border: 1px solid #1ABC9C;
}
.btn.colorGreen.colorGreen:hover {
  background-color: #ECF0f1;
  color: #1ABC9C;
}
.btn.colorYellow {
  color: #ECF0f1;
  background-color: #F1C40F;
  border: 1px solid #F1C40F;
}
.btn.colorYellow.colorYellow:hover {
  background-color: #ECF0f1;
  color: #F1C40F;
}
.btn.colorBlue {
  color: #ECF0f1;
  background-color: #3498DB;
  border: 1px solid #3498DB;
}
.btn.colorBlue.colorYellow:hover {
  background-color: #ECF0f1;
  color: #3498DB;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 3vh 0;
  text-transform: uppercase;
}

#gestionTVA {
  padding: 2vh 2vw;
}
#gestionTVA > section:nth-of-type(1) {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 70fr 30fr;
  margin-bottom: 10vh;
}
#gestionTVA > section:nth-of-type(1) > section:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5%;
}
#gestionTVA > section:nth-of-type(1) > section:nth-of-type(1) > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  margin: 1rem;
  padding: 10px;
  width: 240px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#gestionTVA > section:nth-of-type(1) > section:nth-of-type(1) > article:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#gestionTVA > section:nth-of-type(1) > section:nth-of-type(1) > article > p {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
#gestionTVA > section:nth-of-type(1) > section:nth-of-type(1) > article > p.inactif {
  opacity: 0.05;
}
#gestionTVA > section:nth-of-type(1) > div {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  padding: 10px;
  margin: 1rem;
}
#gestionTVA > section:nth-of-type(1) > div > section > form > h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 0 30px 0;
}
#gestionTVA > section:nth-of-type(1) > div > section > form > legend {
  font-size: 1.2rem;
  margin-bottom: 4vh;
  text-align: center;
  display: none;
}
#gestionTVA > section:nth-of-type(1) > div > section > form > fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#gestionTVA > section:nth-of-type(1) > div > section > form > fieldset > label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
#gestionTVA > section:nth-of-type(1) > div > section > form > fieldset > input {
  width: 100%;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#gestionTVA > section:nth-of-type(1) > div > section > form > fieldset > small {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 10px;
}
#gestionTVA > section:nth-of-type(1) > div > section > form > fieldset:last-of-type > input {
  width: 40%;
  margin: auto;
  background-color: #1ABC9C;
}
#gestionTVA > section:nth-of-type(1) > div > section > section > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
#gestionTVA > section:nth-of-type(1) > div > section > section > div > div > img {
  margin: auto;
}

#gestionCategories {
  padding: 2vh 2vw;
}
#gestionCategories > section:nth-of-type(1) {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 70fr 30fr;
  margin-bottom: 10vh;
}
#gestionCategories > section:nth-of-type(1) > section:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5%;
}
#gestionCategories > section:nth-of-type(1) > section:nth-of-type(1) > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  margin: 1rem;
  padding: 10px;
  width: 240px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#gestionCategories > section:nth-of-type(1) > section:nth-of-type(1) > article:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#gestionCategories > section:nth-of-type(1) > section:nth-of-type(1) > article > img {
  width: 50%;
}
#gestionCategories > section:nth-of-type(1) > section:nth-of-type(1) > article > img.inactif {
  opacity: 0.05;
}
#gestionCategories > section:nth-of-type(1) > section:nth-of-type(1) > article > p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
#gestionCategories > section:nth-of-type(1) > section:nth-of-type(1) > article > p.inactif {
  opacity: 0.05;
}
#gestionCategories > section:nth-of-type(1) > section:nth-of-type(1) > article > section {
  display: flex;
  flex-direction: row;
}
#gestionCategories > section:nth-of-type(1) > section:nth-of-type(1) > article > section > form {
  margin: 10px;
}
#gestionCategories > section:nth-of-type(1) > div {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  padding: 10px;
  margin: 1rem;
}
#gestionCategories > section:nth-of-type(1) > div > section > form > h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 0 30px 0;
}
#gestionCategories > section:nth-of-type(1) > div > section > form > legend {
  font-size: 1.2rem;
  margin-bottom: 4vh;
  text-align: center;
  display: none;
}
#gestionCategories > section:nth-of-type(1) > div > section > form > fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#gestionCategories > section:nth-of-type(1) > div > section > form > fieldset > label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
#gestionCategories > section:nth-of-type(1) > div > section > form > fieldset > input {
  width: 100%;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#gestionCategories > section:nth-of-type(1) > div > section > form > fieldset > small {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 10px;
}
#gestionCategories > section:nth-of-type(1) > div > section > form > fieldset > div {
  margin-top: 10px;
}
#gestionCategories > section:nth-of-type(1) > div > section > form > fieldset > div > label > span > img {
  max-height: 240px;
}
#gestionCategories > section:nth-of-type(1) > div > section > form > fieldset:last-of-type > input {
  width: 40%;
  margin: auto;
  background-color: #1ABC9C;
}

#articles {
  padding: 2vh 2vw;
}
#articles > section:nth-of-type(2) {
  width: 100%;
  margin: auto;
  margin-bottom: 10vh;
}
#articles > section:nth-of-type(2) > section:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
#articles > section:nth-of-type(2) > section:nth-of-type(1) > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  margin: 1rem;
  padding: 10px;
  width: 240px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#articles > section:nth-of-type(2) > section:nth-of-type(1) > article:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#articles > section:nth-of-type(2) > section:nth-of-type(1) > article > p:nth-of-type(1) {
  margin: 10px 0;
}
#articles > section:nth-of-type(2) > section:nth-of-type(1) > article > p:nth-of-type(2) {
  margin: 10px 0;
}

#addCustomers {
  padding: 2vh 2vw;
}
#addCustomers > form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}
#addCustomers > form > legend {
  font-size: 1.2rem;
  margin-bottom: 4vh;
  text-align: center;
  display: none;
}
#addCustomers > form > div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
#addCustomers > form > div > div:nth-of-type(2) {
  display: flex;
  flex-direction: columns;
  align-items: center;
}
#addCustomers > form > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#addCustomers > form > section > fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#addCustomers > form > section > fieldset > label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
#addCustomers > form > section > fieldset > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#addCustomers > form > section > fieldset > select {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#addCustomers > form > section > fieldset > small {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 10px;
}
#addCustomers > form > section > fieldset:nth-of-type(3) > div {
  margin-top: 10px;
}
#addCustomers > form > section > fieldset:nth-of-type(3) > div > label > span > img {
  max-height: 240px;
}
#addCustomers > form > section > fieldset:nth-of-type(3) > div {
  margin-top: 10px;
}
#addCustomers > form > section > fieldset:nth-of-type(3) > div > label > span > img {
  max-height: 240px;
}
#addCustomers > form > fieldset {
  width: 40%;
  margin: auto;
}
#addCustomers > form > fieldset > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: #1ABC9C;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
}

#addOptions {
  padding: 2vh 2vw;
}
#addOptions > form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}
#addOptions > form > legend {
  font-size: 1.2rem;
  margin-bottom: 4vh;
  text-align: center;
  display: none;
}
#addOptions > form > div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
#addOptions > form > div > div:nth-of-type(2) {
  display: flex;
  flex-direction: columns;
  align-items: center;
}
#addOptions > form > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#addOptions > form > section > fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#addOptions > form > section > fieldset > label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
#addOptions > form > section > fieldset > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#addOptions > form > section > fieldset > select {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#addOptions > form > section > fieldset > small {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 10px;
}
#addOptions > form > section > fieldset:nth-of-type(3) > div {
  margin-top: 10px;
}
#addOptions > form > section > fieldset:nth-of-type(3) > div > label > span > img {
  max-height: 240px;
}
#addOptions > form > section > fieldset:nth-of-type(3) > div {
  margin-top: 10px;
}
#addOptions > form > section > fieldset:nth-of-type(3) > div > label > span > img {
  max-height: 240px;
}
#addOptions > form > fieldset {
  width: 40%;
  margin: auto;
}
#addOptions > form > fieldset > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: #1ABC9C;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
}

#customerDetails {
  padding: 2vh 2vw;
}
#customerDetails > section:nth-of-type(1) {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#customerDetails > section:nth-of-type(1) > a {
  margin: 0;
}
#customerDetails > section:nth-of-type(1) > section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#customerDetails > section:nth-of-type(1) > section > a, #customerDetails > section:nth-of-type(1) > section form, #customerDetails > section:nth-of-type(1) > section button {
  margin: 10px;
}
#customerDetails > section:nth-of-type(2) {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}
#customerDetails > section:nth-of-type(2) > ul {
  width: 100%;
}
#customerDetails > section:nth-of-type(2) > ul > table {
  width: 100%;
}
#customerDetails > section:nth-of-type(2) > ul > table > thead {
  background-color: #008080;
  color: #ECF0f1;
}
#customerDetails > section:nth-of-type(2) > ul > table > thead > tr > th {
  text-align: left;
  vertical-align: middle;
  padding: 5px 5px;
}
#customerDetails > section:nth-of-type(2) > ul > table > tbody.inactif {
  opacity: 0.2;
}
#customerDetails > section:nth-of-type(2) > ul > table > tbody > tr > td {
  text-align: left;
  vertical-align: middle;
  padding: 12px 5px;
}
#customerDetails > section:nth-of-type(2) > ul > table > tbody > tr:not(:last-child) {
  border-bottom: 1px solid #95A5A6;
}
#customerDetails > section:nth-of-type(3) {
  width: 100vw;
  height: 100vh;
  background-color: rgba(52, 73, 94, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#customerDetails > section:nth-of-type(3) > section {
  width: 50%;
  margin: auto;
  margin-top: 20vh;
  border: 1px solid #111314;
  border-radius: 20px;
  padding: 20px;
  background-color: #ECF0f1;
  display: none;
}
#customerDetails > section:nth-of-type(3) > section > p {
  text-align: right;
  font-size: 2rem;
}
#customerDetails > section:nth-of-type(3) > section > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  line-height: 1.5;
}
#customerDetails > section:nth-of-type(3) > section > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#customerDetails > section:nth-of-type(3) > section > section > button, #customerDetails > section:nth-of-type(3) > section > section form {
  margin: 10px;
}
#customerDetails > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#customerDetails > div > div {
  margin: 20px;
}

#updateCustomers {
  padding: 2vh 2vw;
}
#updateCustomers > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#updateCustomers > form {
  padding: 10px;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}
#updateCustomers > form > legend {
  font-size: 1.2rem;
  margin-bottom: 4vh;
  text-align: center;
  display: none;
}
#updateCustomers > form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#updateCustomers > form > div > div:nth-of-type(2) {
  display: flex;
  flex-direction: columns;
  align-items: center;
}
#updateCustomers > form > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#updateCustomers > form > section.inactif {
  opacity: 0.2;
}
#updateCustomers > form > section > fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#updateCustomers > form > section > fieldset > label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
#updateCustomers > form > section > fieldset > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#updateCustomers > form > section > fieldset > select {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#updateCustomers > form > section > fieldset > small {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 10px;
}
#updateCustomers > form > section > fieldset:nth-of-type(3) > div {
  margin-top: 10px;
}
#updateCustomers > form > section > fieldset:nth-of-type(3) > div > label > span > img {
  max-height: 240px;
}
#updateCustomers > form > section > fieldset:nth-of-type(3) > div {
  margin-top: 10px;
}
#updateCustomers > form > section > fieldset:nth-of-type(3) > div > label > span > img {
  max-height: 240px;
}
#updateCustomers > form > fieldset {
  width: 40%;
  margin: auto;
}
#updateCustomers > form > fieldset.inactif {
  visibility: hidden;
}
#updateCustomers > form > fieldset > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
}

#gestionPM {
  padding: 2vh 2vw;
}
#gestionPM > section:nth-of-type(1) {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 70fr 30fr;
  margin-bottom: 10vh;
}
#gestionPM > section:nth-of-type(1) > section:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5%;
}
#gestionPM > section:nth-of-type(1) > section:nth-of-type(1) > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  margin: 1rem;
  padding: 10px;
  width: 240px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#gestionPM > section:nth-of-type(1) > section:nth-of-type(1) > article:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#gestionPM > section:nth-of-type(1) > section:nth-of-type(1) > article > p {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
#gestionPM > section:nth-of-type(1) > section:nth-of-type(1) > article > p.inactif {
  opacity: 0.05;
}
#gestionPM > section:nth-of-type(1) > div {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  padding: 10px;
  margin: 1rem;
}
#gestionPM > section:nth-of-type(1) > div > section > form > h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 0 30px 0;
}
#gestionPM > section:nth-of-type(1) > div > section > form > legend {
  font-size: 1.2rem;
  margin-bottom: 4vh;
  text-align: center;
  display: none;
}
#gestionPM > section:nth-of-type(1) > div > section > form > fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#gestionPM > section:nth-of-type(1) > div > section > form > fieldset > label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
#gestionPM > section:nth-of-type(1) > div > section > form > fieldset > input {
  width: 100%;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#gestionPM > section:nth-of-type(1) > div > section > form > fieldset > small {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 10px;
}
#gestionPM > section:nth-of-type(1) > div > section > form > fieldset:last-of-type > input {
  width: 40%;
  margin: auto;
  background-color: #1ABC9C;
}
#gestionPM > section:nth-of-type(1) > div > section > section > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
#gestionPM > section:nth-of-type(1) > div > section > section > div > div > img {
  margin: auto;
}

#gestionArticles {
  padding: 2vh 2vw;
}
#gestionArticles > section:nth-of-type(1) {
  width: 60%;
  margin: auto;
  display: flex;
  margin-bottom: 40px;
}
#gestionArticles > section:nth-of-type(2) {
  width: 90%;
  margin: auto;
  margin-bottom: 10vh;
}
#gestionArticles > section:nth-of-type(2) > div > section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#gestionArticles > section:nth-of-type(2) > div > section > article {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  margin: 1em 0 1em 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gestionArticles > section:nth-of-type(2) > div > section > article:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
#gestionArticles > section:nth-of-type(2) > div > section > article > .flexlien {
  display: flex;
  justify-content: space-between;
}
#gestionArticles > section:nth-of-type(2) > div > section > article > .flexlien > a {
  width: 40%;
}

#addCustomerAdressForm {
  padding: 2vh 2vw;
}
#addCustomerAdressForm > form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}
#addCustomerAdressForm > form > legend {
  font-size: 1.2rem;
  margin-bottom: 4vh;
  text-align: center;
  display: none;
}
#addCustomerAdressForm > form > div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
#addCustomerAdressForm > form > div > div:nth-of-type(2) {
  display: flex;
  flex-direction: columns;
  align-items: center;
}
#addCustomerAdressForm > form > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#addCustomerAdressForm > form > section > fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#addCustomerAdressForm > form > section > fieldset > label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
#addCustomerAdressForm > form > section > fieldset > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#addCustomerAdressForm > form > section > fieldset > select {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
}
#addCustomerAdressForm > form > section > fieldset > small {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 10px;
}
#addCustomerAdressForm > form > section > fieldset:nth-of-type(3) > div {
  margin-top: 10px;
}
#addCustomerAdressForm > form > section > fieldset:nth-of-type(3) > div > label > span > img {
  max-height: 240px;
}
#addCustomerAdressForm > form > section > fieldset:nth-of-type(3) > div {
  margin-top: 10px;
}
#addCustomerAdressForm > form > section > fieldset:nth-of-type(3) > div > label > span > img {
  max-height: 240px;
}
#addCustomerAdressForm > form > fieldset {
  width: 40%;
  margin: auto;
}
#addCustomerAdressForm > form > fieldset > input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: #1ABC9C;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.2rem;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ECF0f1;
}

a {
  text-decoration: none;
}

.errorName, .errorShortName, .errorPrice1, .errorPrice2,
.errorCategorie, .errorTvap, .errorTvae, #errorTva, #errorPM,
.errorScreen, .errorCode, #errorLastName, #errorFirstName,
#errorBirthday, #errorRfid, #errorEmail, #errorPassword, #errorSecondPassword {
  display: none;
  color: #E74C3C;
}/*# sourceMappingURL=style.css.map */