@import "reset";
@import "vars";
@import "_header";
@import "_footer";
@import "_home";
@import "_categories";
@import "_addArticles";
@import "_customers";
@import "_buttons";
@import "_titres";
@import "_gestionTVA";
@import "_gestionCategories";
@import "_articles";
@import "_addCustomers";
@import "_addOptions";
@import "_customerDetails";
@import "_updateCustomers";
@import "_gestionPM";
@import "_gestionArticles";
@import "_addAdressForm";
@import "_articlesSearch";
@import "_articleOption";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $white;
}

a {
    text-decoration: none;
}

.errorName, .errorShortName, .errorPrice1, .errorPrice2, 
.errorCategorie, .errorTvap, .errorTvae, #errorTva, #errorPM, 
.errorScreen, .errorCode, #errorLastName, #errorFirstName, 
#errorBirthday, #errorRfid, #errorEmail, #errorPassword, #errorSecondPassword, 
#errorAdress, #errorZipcode, #errorCity, #errorCountry{
  display: none;
  color: $red;
} 